@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}



.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

/*Яндекс практикум общие настройки*/
.logo {
  width: 183px;
  z-index: 3;
 }

    /*Яндекс практикум для шапки настройки*/
.logo_place_header { 
  position: absolute;
  height: 32px;
  top: 30px;
  left: 64px;
}

/*блок шапки*/
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
  position: relative;
  background-color: #F2F2F2;
  overflow: hidden;
}

/*научиться учиться*/
.header__title {
  left: 64px;
  margin: auto;
  margin-left: 64px;
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;
  width: 730px;
}

/*текст про современные  методы обучения*/
.header__subtitle {
  width: 388px;
  left: 64px;
  margin-bottom: 30px;
  position: absolute;
  bottom:  30px;
  font-size: 18px;
  line-height: 25px;
  z-index: 2;
}

/*ссылка переход узнать*/
.header__link {
  color: #2f80ed;
  text-decoration: none;
  text-align: justify;
}

/*прозрачность ссылке при наведении*/
.header__link:hover {
  opacity: .5;
  transition: .2s;
}

/*синий квадрат*/
.header__square-pic {
  background-color:#2f80ed;
  height: 568px;
  width: 568px;
  margin-top: 64px;
  margin-left: auto;
  transform: rotate(-15deg);
  animation: rotation 20s linear   infinite normal ;
}

/*опяять двойка*/
.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}



/*настройка большого блока с параграфами и остальным ______________________________________________________description*/
.description {
  display: flex;
  margin-top: 100px;
  width: 80%;
}

.two-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
     
.tow-columns__main-text {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  width: 80%;
  min-width: 784px;        
}

      /*настройки текста параграфов */   
.two-columns__paragraph {
  margin-bottom:30px;
  margin-top: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}  

    /*псевдокласс для настройки отступа последнего параграфа*/   
.two-columns__paragraph:last-of-type{
 margin-bottom: 0;
}
    
    /* слово ввод во втором параграфе*/
.two-columns__span-accent {
  font-weight:bold;
}

    /* Текст слева в колонке главные проблемы*/
.two-columns__brief {
  margin-top: 0;
  width: 175px;
  color: #2f80ed;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
}


/*technics_________________________________________________________________________________________________________*/
/* первый новый блок__________________________________________________
сделал заготовки необходимо выровнять*/
.technics {
  align-content: center; 
  align-items: center;
  display: flex;
  flex-direction:column;
  justify-content: center;
  margin-top: 100px;
  width: 80%;
}

/*настройки модификатора титла*/
.section-title_place_technics{
  line-height: 1.15;
  font-size: 60px;
}

/*блок с карточками*/
.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 920px;
  justify-content: space-between;
}

/*титл карточек*/
.cards__title {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold; 
  margin-top: 0;
  margin-bottom: 16px;
}

/*текст карточек*/
.cards__description {
  line-height: 23px;
  font-size: 18px;
  font-weight: normal; 
  margin-top: 0;
  margin-bottom: 0;
}

/*настройка последнего элемента блока*/
.cards__item:last-of-type{
margin-right: auto;margin-left:80px;
}

/*карточки блока текникс*/
.cards__item {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center; 
  justify-content: center;
  text-align: center;
}

.cards__image {
  box-sizing: border-box;
  
  border-radius: 50%;
  width: 160px;
  height: 160px;
  margin-top: 60px;
  margin-bottom: 43px;
}
  
/*video_________________________________________________________________________________________________________*/
.video {
  align-content: center; 
  align-items: center;
  display: flex;
  flex-direction:column;
  justify-content: center;
  margin-top: 100px;
  width: 80%;
  position: relative;
  top: 60px;
}

.video__iframes {
  margin-top: 50px;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}
.video__iframe:last-of-type {
  margin-right: 0px;
}
.video__iframe {
  margin-right: 20px;
  border: none;
  width:515px;
  height:316px;
}
.section-title_place_video {
  line-height: 1.15;
  font-size: 60px;
}
.section-subtitle_place_video {
  margin-top: 20px;
}

/*oakley копия two columns _____________________________________________________________________________________*/
.oakley {
  display: flex;
  padding-top: 160px;
  padding-bottom: 80px;
  background-color: #F2F2F2;
  
}

.two-columns_place_oakley {
  display: flex;
  margin-left:auto;
  margin-right: auto;
  width: 80%;
}

/*khan__________________________________________________________________________________________________________*/
.khan {
  background-color: #F2F2F2;
  width: 100%;
  margin-top: 100px;
  position: relative;
}

.khan__container {
  padding-top: 105px;
  width: 80%;
  margin: auto;
 }

.khan__author {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 0;
}

.khan__title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 50px;
}

.khan__quote {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 790px;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
}

.khan__quote-author{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-top: 36px;
  margin-bottom: 0px;
}

.khan__quote-author-subline {
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0px;
}

.khan__buy-link:hover {
  opacity: .5;
  transition: .2s;
}

.khan__book-container {
 margin-top: 68px;
 display: flex;
}

.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  margin-left: 20px;
}

.khan__book-pic {
  width: 620px;
}
  
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  /*_____________________________________________________________Блок диджитс*/
.digits {
  margin-top: 100px;
  align-items: center;
  display:flex ;
  flex-direction: column;
}

/*заголовок цифры и факты*/
.section-title {
  font-size: 60px;
  font-weight: bold;
  line-height: 69px;
  margin: 0;
  text-align: center;
  width: 60%;
}

/*про учебу и мозг*/
.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 0;
  width: 60%;
  text-align: center;
}

    /*таблица с карточками блока диджитс*/
.table {
  align-content: center;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 0;
  width: 1100px;
 }

 /*карточка*/
.table__cell {
  margin-top: 60px;
  width: 250px;
}

/*заголовок в карточке*/
.table__heading {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.15;
	margin-bottom: 20px;
	margin-top: 0;
}

 /*текст в карточке*/
.table__text {
  font-size: 18px;
	font-weight: normal;
  line-height: 1.2;
}

.table__text:last-of-type{
  margin-bottom: 0;
 }

 
/*feinman*/
.feinman {
  position: relative;
  width: 100%;
  height: 790px;
  background-color: #F2F2F2;
  background-image: url('../images/feinman.png');
  background-repeat: no-repeat;
  padding-top: 100px;
  background-position: bottom left 0 ;
}

 .feinman__title { 
  font-size: 120px;
  line-height: 1.15;
  font-weight: bold;
  width: 648px;
	text-align: center;
	
	margin: auto;
  margin-bottom: 70px;
  margin-top: 0;
}

.feinman__subtitle {
  line-height: 51px;
  font-size: 36px;
	font-weight: normal;
	width: 400px;
	margin: auto;
	text-align: center;
}
/* ссылка подробнее*/


.feinman__link {
  line-height: 51px;
  font-size: 36px;
	font-weight: normal; 
	position: absolute;
  top: 50%;
	bottom: 50%;
	right: 0;
	margin-right: 48px;
  text-decoration: none;
  color: black;
}

.feinman__link:hover {
  opacity: .5;
  transition: .2s;
}

/*Блок кауфман*/
.kaufman {
  background-color: #1f1f1f;
  display:flex ;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  width: 100%;
  position: relative;
  padding-top: 90px;
  color: white;
}

.table__cell_theme_dark {
  width: 200px;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}

.table_theme_dark {
  width: 1100px;
  margin-bottom: 90px;
}

/*синий треугольник*/
.kaufman__triangle {
  height: 877px;
  position: absolute;
  right: -210px;
  top: 0;
  width: 877px;
  z-index: 0;
  transform: rotate(-15deg);
  animation: rotation 20s linear   infinite normal ;
}

/*resources_____________________________________________________________________*/

.resources {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 217px;
}

.section-subtitle_place_resuorces {
margin-top: 20px;
}

.resources__logo-zone {
  
  width: 1100px;
  margin-top: 80px;
}

.resources__logo {
  width: 270px;
  height: 38px;
}

/* блок footer*/
.footer {
	background-color:#1f1f1f ;
	color: white;
  width: 100%;
  min-height: 350px;
 
}

/* колонки внутри футера*/
.footer__columns {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-basis: 711px;
	width: 90%;
  padding-top: 60px;
	padding-bottom: 40px;
	margin: auto;
}

/*заголовки колонок*/
.footer__column-heading { 
  margin-bottom: 20px;
  margin-top: 0px;
  line-height: 30px;
	font-size: 18px;
	font-weight: bold;
}
		
/*пункты списков(колонок)*/
.footer__column-link:hover {
  opacity: .5;
  transition: .2s;
}

.footer__column-links {
  list-style-type: none;
	padding-left: 0px;
	margin-bottom: 16px;
	margin-top: 16px;
	line-height: 30px;
	font-size: 18px;
  font-weight: normal;
}

.footer__column-link {
  text-decoration: none;
  color: white;
}

/*блок с логотипом и подписью*/
.footer__column_content-copyright {
	width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
}

/*Подпись*/
.footer__author {
  line-height: 25px;
	font-size: 18px;
	font-weight: normal;
}


			
/*Настройки размера иконок соцсетей*/
.footer__social-icons {
	height: 16px;
	width: 16px;
}

		
/*Белый логотип Яндекс*/
.logo_place_footer {
  height: 35px;
}
